In [3]:
import pandas as pd
import numpy as np
import re

In [4]:
draft = pd.read_csv('draft.csv')
draft1 = draft.copy()

FileNotFoundError: [Errno 2] No such file or directory: 'draft.csv'

In [92]:
defense = pd.read_excel('DefenseData.xlsx')

In [118]:
block = pd.read_excel('BlockingData.xlsx')

,player,player_id,position,player_game_count,team_name,snap_counts_offense,snap_counts_pass,snap_counts_pass_block,snap_counts_run_block,snap_counts_lt,...,grades_offense,grades_pass_block,grades_run_block,sacks_allowed,hits_allowed,hurries_allowed,pressures_allowed,penalties,declined_penalties,Year
0,Brett Favre,14,QB,13,MIN,717,409,1,307,0,...,59.5,60.9,60.0,4,4,1,9,9,0,2010
1,Mark Brunell,51,QB,2,NYJ,42,15,0,27,0,...,71.9,NaN,60.3,0,0,0,0,0,0,2010
2,Tony Richardson,110,FB,16,NYJ,286,0,58,228,0,...,65.2,73.3,64.8,0,1,2,3,1,0,2010
3,Kerry Collins,115,QB,10,TEN,497,309,0,188,0,...,68.0,NaN,60.2,0,2,0,2,2,0,2010
4,Joey Galloway,117,WR,10,WAS,81,0,0,81,0,...,54.6,NaN,66.1,0,0,0,0,0,0,2010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9645,Ashton Dulin,91479,WR,11,IND,47,0,0,47,0,...,59.3,NaN,56.6,0,0,0,0,0,0,2019
9646,Stephen Carlson,94365,TE,9,CLV,140,0,25,115,0,...,61.2,77.3,52.2,0,1,0,1,0,0,2019
9647,Matt Orzech,94369,LS,3,JAX,3,0,3,0,0,...,60.0,87.0,NaN,0,0,0,0,0,0,2019
9648,Tom Kennedy,94379,WR,1,DET,4,0,0,4,0,...,56.1,NaN,60.4,0,0,0,0,0,0,2019
9649,Gunner Olszewski,95015,WR,5,NE,33,0,0,33,0,...,51.5,NaN,36.6,0,0,0,0,0,0,2019

In [94]:
rush = pd.read_excel('RushingData.xlsx')

In [95]:
rec = pd.read_excel('ReceivingData.xlsx')

In [96]:
passing = pd.read_excel('PassingData.xlsx')

In [97]:
playerid = block[['player', 'player_id']]

In [98]:
rushid = rush[['player', 'player_id']]
defid = defense[['player', 'player_id']]
rushid = rush[['player', 'player_id']]
recid = rec[['player', 'player_id']]
passid = passing[['player', 'player_id']]

In [99]:
idlist = [playerid, rushid, defid, rushid, recid, passid]

In [100]:
playerid = pd.concat(idlist, ignore_index=True)
playerid

                player  player_id
0          Brett Favre         14
1         Mark Brunell         51
2      Tony Richardson        110
3        Kerry Collins        115
4        Joey Galloway        117
...                ...        ...
31311     Stefon Diggs       9579
31312    Kelvin Harmon      47931
31313      Zach Pascal      12303
31314     Jake Elliott      11908
31315      Cooper Kupp      11824

[31316 rows x 2 columns]

In [101]:
draft["Name"] = draft["Name"].str.lower()
playerid["player"] = playerid["player"].str.lower()

In [112]:
draft.loc[55,'Name'] = 'torell troup'
draft.loc[40,'Name'] = 'mike neal'
draft.loc[85,'Name'] = "daniel te'o-nesheim"

In [113]:
players = draft.merge(playerid, how = 'left', left_on = 'Name', right_on = 'player', indicator = True)
players = players.drop_duplicates()
players

,Year,Round,Pick,Name,Team,Position,College,Snaps 2010,Grade 2010,Snaps 2011,...,Grade 2016,Snaps 2017,Grade 2017,Snaps 2018,Grade 2018,Snaps 2019,Grade 2019,player,player_id,_merge
0,2010,1,1,sam bradford,Rams,QB,Oklahoma,0,0,0,...,0,0,0,0,0,0,0,sam bradford,5526.0,both
33,2010,1,2,ndamukong suh,Lions,DT,Nebraska,0,0,0,...,0,0,0,0,0,0,0,ndamukong suh,5527.0,both
44,2010,1,3,gerald mccoy,Buccaneers,DT,Oklahoma,0,0,0,...,0,0,0,0,0,0,0,gerald mccoy,5528.0,both
55,2010,1,4,trent williams,Redskins,T,Oklahoma,0,0,0,...,0,0,0,0,0,0,0,trent williams,5529.0,both
64,2010,1,5,eric berry,Chiefs,DB,Tennessee,0,0,0,...,0,0,0,0,0,0,0,eric berry,5530.0,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14375,2019,7,250,austin cutting,Vikings,C,Air Force,0,0,0,...,0,0,0,0,0,0,0,NaN,NaN,left_only
14376,2019,7,251,dakota allen,Rams,LB,Texas Tech,0,0,0,...,0,0,0,0,0,0,0,NaN,NaN,left_only
14377,2019,7,252,ken webster,Patriots,DB,Mississippi,0,0,0,...,0,0,0,0,0,0,0,ken webster,12955.0,both
14378,2019,7,253,jordan brailford,Redskins,LB,Oklahoma State,0,0,0,...,0,0,0,0,0,0,0,NaN,NaN,left_only
14379,2019,7,254,caleb wilson,Cardinals,TE,UCLA,0,0,0,...,0,0,0,0,0,0,0,NaN,NaN,left_only

In [114]:
players['_merge'].value_counts()

both          2185
left_only      416
right_only       0
Name: _merge, dtype: int64

In [115]:
noid = players[players['_merge'] == 'left_only']

In [116]:
noid

,Year,Round,Pick,Name,Team,Position,College,Snaps 2010,Grade 2010,Snaps 2011,...,Grade 2016,Snaps 2017,Grade 2017,Snaps 2018,Grade 2018,Snaps 2019,Grade 2019,player,player_id,_merge
192,2010,1,14,earl thomas,Seahawks,DB,Texas,0,0,0,...,0,0,0,0,0,0,0,NaN,NaN,left_only
731,2010,2,63,patrick angerer,Colts,LB,Iowa,0,0,0,...,0,0,0,0,0,0,0,NaN,NaN,left_only
817,2010,3,76,chad jones,Giants,DB,Louisiana State,0,0,0,...,0,0,0,0,0,0,0,NaN,NaN,left_only
1102,2010,3,97,rennie curran,Titans,LB,Georgia,0,0,0,...,0,0,0,0,0,0,0,NaN,NaN,left_only
1253,2010,4,117,joseph hawley,Falcons,G,UNLV,0,0,0,...,0,0,0,0,0,0,0,NaN,NaN,left_only
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14368,2019,7,246,javon patterson,Colts,G,Mississippi,0,0,0,...,0,0,0,0,0,0,0,NaN,NaN,left_only
14375,2019,7,250,austin cutting,Vikings,C,Air Force,0,0,0,...,0,0,0,0,0,0,0,NaN,NaN,left_only
14376,2019,7,251,dakota allen,Rams,LB,Texas Tech,0,0,0,...,0,0,0,0,0,0,0,NaN,NaN,left_only
14378,2019,7,253,jordan brailford,Redskins,LB,Oklahoma State,0,0,0,...,0,0,0,0,0,0,0,NaN,NaN,left_only
14379,2019,7,254,caleb wilson,Cardinals,TE,UCLA,0,0,0,...,0,0,0,0,0,0,0,NaN,NaN,left_only

In [117]:
noid.Position.value_counts()

DB    80
WR    49
LB    49
T     41
DE    34
RB    31
DT    30
QB    30
G     29
TE    14
C     11
K     10
P      8
Name: Position, dtype: int64

In [2]:
statdf = [rec, passing, rush, defense, block]

NameError: name 'rec' is not defined